<!DOCTYPE html>
<html class="gr__getpapercss_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="AI based Resume screening">
<meta name="author" content="CodeByte!">


<link rel="shortcut icon" href="" type="image/x-icon">



  <title>Bitirme Çalışması</title>
  
<link rel="stylesheet" href="./static/paper.css">
<link rel="stylesheet" href="./static/demo.css">

<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<script type="text/javascript" async="" src="./static/analytics.js"></script>
<script async="" src="./static/js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109223301-1');
</script>


<style>

.form-group textarea{
  width: 65%;
  height: 120px;
}

.line {
    
    float:left;
}


body {
    
    font-family: 'Nunito';
}

#upload_button {
  display: inline-block;
}
#upload_button input[type=file] {
  display:none;
}
#myBTN {
  color: #1cc88a;
  border-color: #1cc88a;
  
}


</style>

<script>

$("#formid").submit(function(e) {

	$("#formdiv").hide();
	$("#resultdiv").show();
	resetResult();

	console.log("submit");
   	console.log($("#formid").serialize());

/* var url = ""; 
    $.ajax({
           type: "POST",
           url: url,
           data: $("#formid").serialize(),
           success: function(data)
           {
               alert(data); 
           },
	   error: function(data)
           {
               alert("error"); 
           }
         });*/

    e.preventDefault(); 
});



$("resetResult").click(function(){
	$("#formdiv").show();
	$("#resultdiv").hide();
});

$( document ).ready(function() {
	$("#resultdiv").hide();
});

function resetResult(){
	$("#result").innerHTML = "Processing....";
}

</script>

<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
    var btn = document.getElementById("myBTN");
    if (x.style.display === "none") {
      x.style.display = "block";
      btn.innerHTML = "Geri Dön"
      btn.style.color = "#e74a3b";
      btn.style.borderColor = "#e74a3b";
    } else {
      x.style.display = "none";
      btn.innerHTML = "Ekle"
      btn.style.color = "#1cc88a";
      btn.style.borderColor = "#1cc88a";
    }
  }
  </script>




</head>




<body data-gr-c-s-loaded="true">



 


  <div id="top" class="row site">

    
    <div class="sm-12 md-4 col sidebar" style="display: none;" id="myDIV">
    
    
      <div class="paper" style="float: left;">
        <h3 class="sidebar-title" style="text-align:center">
          İş Tanımla
        </h3>
           
  
  {% if session.logged_in %}
        <form action = "/createjob" method = "POST">
          <p>İşin adını girin: <input type = "text" name = "jobName" /></p>
          <textarea rows="6" cols="40" name="jobDesc" placeholder="İş açıklaması girin..."></textarea>
          <p><input type = "submit" value = "Tanımla" /></p>
       </form>
       
  {% endif %}
  
      </div>
      
      
  </div>


    <div class="sm-12 md-8 col" >
      <div class="paper" >

     {% if not session.logged_in %}
     <a href="{{ url_for('login') }}">Giriş Yap</a>
     {% else %}
       <a href="{{ url_for('logout') }}">Çıkış Yap</a>
       {% endif %}



        <div class="demo-title">
          <div class="row flex-center">
            <div class="text-center">
              <h3>İnsan Kaynakları / Özgeçmiş Değerlendirme</h3>
            </div>
          </div>        </div>
        <div class="to-top">
          <a href="#top" class="paper-btn margin">^</a>
        </div>
        {% if session.logged_in %}
        <div style="float: left;">
          <button type="button" id ="myBTN" onclick="myFunction()">İş Ekle</button>
          <br>
          
         <br>
         {% endif %} 
        </div>
        <div style="float: right;">
          {% if session.logged_in %}
          <form action = "/uploadcv" method = "POST" enctype="multipart/form-data" >
            <p>
              <input type="file" class="line" name="cv" >
              <input type="submit" class="line" value="CV Ekle" >
            </p>
         </form>
         <br>
      <form action = "/resultsearch" method = "POST">
        <p><input type = "text" name = "Name" class="line" placeholder="Ara..." />
        <input type = "submit" value = "Ara" class="line"/></p>
     </form>
     <br>
     
     <br>
{% endif %}
        </div>
        <div class="section">
         
            {% if session.logged_in %}

                         
      
	<div id="formdiv">
    
          
    <!-- <form action = "/resultscreen" method = "POST">
      <p>Enter a Job Description File name <input type = "text" name = "Name" /></p>
      <p><input type = "submit" value = "submit" /></p>
   </form> enctype = "multipart/form-data"-->
   <br>
   <br>
   <br>
   <p>
     İş seçin:</p>
   <form action = "/results" method = "POST" style="text-align:center" >
     <select name="des">

     {% for r in results :%}
       <option value = '{{r.name}}'>{{r.name}}</option>
     
     {% endfor %}

     </select>
     <br>
   <button type = "submit">Sırala</button>


</form>


</div>

{% endif %}






        </div>   
      </div>
    </div>

    

</div>


</body></html>
